.card p.subtitle {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .column {
    padding: 0 !important;
  }

  .card {
    margin: 20px;
  }
}
