.req-listCard {
}

.req-listCard .tags {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.container > h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-left: 10px;
}

.container {
  padding: 10px;
}

.container .card {
  padding: 10px;
}

.req-listCard h2 {
  font-size: 18px;
}

.card-content > h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.prevReq {
  font-size: 22px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .card-content {
    padding: 10px !important;
  }
}
