.req-listCard {
}

.req-listCard .tags {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.container > h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.req-listCard h2 {
  font-size: 18px;
}

.card-content > h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.prevReq {
  font-size: 22px;
  font-weight: bold;
}
