.assignerPage {
  padding: 0 10px;
}

.requests {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  margin-top: 30px;
}

.assignerPage .header h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

#moreDetailsModal .box {
  padding: 0;
  box-shadow: none;
}

.content-area h1 {
  font-size: 22px;
  font-weight: bold;
}

.controls {
  margin-top: 20px;
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 10px;
}
